@use "../../../global.scss";

.catalog {
  @include global.flex(column, flex-end, center);
  padding: 20px;
  width: 100%;
  padding: 5px 5px 40px 40px;
  gap: 30px;

  &__cards {
    width: 100%;
    @include global.flex(column, none, none);
    gap: 30px;
  }
}

.card {
  @include global.flex(row, none, center);
  gap: 18px;
  width: 100% !important;

  background-color: #141414;
  border-radius: 7px;
  border: 1px solid #141414;
  transition: 0.3s ease-in-out;

  &:hover {
    border-color: #646cff60;
  }

  &:hover .card__img {
    opacity: 1;
  }

  &__title {
    color: #c3c6ff;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    width: 80%;
    z-index: 1;
  }

  &__button {
    @include global.flex(row, center, center);
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 96%;
    z-index: 1;

    &:hover {
      border-color: #646cff;
    }
    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }

  &__description {
    text-align: center;
    width: 80%;
    z-index: 1;
  }

  &__photo {
    width: 300px;
  }

  &__img {
    padding: 1px;
    width: inherit;
    height: 170px;
    border-radius: 7px 7px 0px 0px;
    opacity: 0.9;
    transition: 0.2s ease-in-out;
    z-index: 1;
  }
}
