@use "../../../global.scss";

.filter {
  @include global.flex(column, none, center);
  position: fixed;
  z-index: 4;
  top: 90px;
  left: 0px;
  height: 91vh;
  background-color: #292929;
  gap: 30px;
  transition: 0.4s ease-in-out;
  border-right: 1px solid #646cff;

  &__arrow {
    &__img {
      width: 30px;
      height: 30px;
      transition: 0.4s ease-in-out;
    }

    &__block {
      position: absolute;
      top: 45%;
      left: 370px;
    }
  }

  &__buttons {
    &__button {
      width: 70%;
      height: 100px;
    }

    &__block {
      @include global.flex(column, center, center);
      width: 400px;
      height: 70%;
      gap: 20px;
    }
  }

  &__search {
    @include global.flex(column, none, none);
    gap: 5px;

    &:hover .filter__search__label {
      color: #d6d8fa;
    }

    &__input {
      padding: 10px 15px 10px 15px;
      outline: none;
      border-radius: 7px;
      border: 1px solid #242424;
      transition: 0.3s ease-in-out;

      &:focus {
        border-color: #646cff;
      }

      &:hover {
        border-color: #646cff;
      }
    }

    &__label {
      font-size: 18px;
      color: #b5b9f5;
      font-weight: 700;
      transition: 0.3s ease-in-out;
    }
  }

  &__logo {
    &_text {
      font-size: 30px;
      background-image: linear-gradient(to right, #646cff, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.filter__close {
  border: 1px solid #292929;
  left: -375px;
}

.arrow__close {
  rotate: 180deg;
}
