@use "../../../global.scss";

.comments__block {
  @include global.flex(column, none, none);
  gap: 10px;
  background-color: #1b1b1b;
  width: 64%;
  margin-left: 1%;
  padding: 10px;
  border-radius: 7px;
}
